<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/info}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
<style>
.badge-primary {
	color: #fff;
	background-color: #ee4266
}
.form-control {
	width:20%;
}
.list-inline>li {
	padding-right:0;
}
.rooms-page-item {
    -webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
    box-shadow: 2px 15px 75px 6px #EBEBEB;
    margin-top: 100px;
}
h3,.h3 {
    font-size: 24px;
    margin-top: 5%;
}
.row>* {
    flex-shrink: 0;
    width: 80%;
    max-width: 80%;
    padding-right: calc(var(--bs-gutter-x)/2);
    padding-left: calc(var(--bs-gutter-x)/2);
    margin-top: var(--bs-gutter-y);
}
.btn-success {
    color: #fff;
    background-color: red;
    border-color: #4cae4c
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.25rem;
}
</style>
</th:block>

<div layout:fragment="content">
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                
                	<input type="hidden" id="itemId" th:value="${item.id}">
                    <div class="card mb-3" style="margin-top:10%">
                    	<a href="#">
                        <img class="card-img img-fluid" th:src="${item.itemImgDtoList[0].imgUrl}" 
                        th:alt="${item.itemNm}" id="product-detail">
                    	</a>
                        
                    </div>
                    
                    
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <img src="/images/left.png">
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                    	<input type="hidden" id="itemId" th:value="${item.id}">
                                            <a href="#">
                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[0].imgUrl}" 
                                                th:alt="${item.itemNm}" id="product-detail">
                                            </a>
                                        </div>
                                        
                                         <div class="col-4">
                                    	<input type="hidden" id="itemId" th:value="${item.id}">
                                            <a href="#">
                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[1].imgUrl}" 
                                                th:alt="${item.itemNm}" id="product-detail">
                                            </a>
                                        </div>
                                         <div class="col-4">
                                    	<input type="hidden" id="itemId" th:value="${item.id}">
                                            <a href="#">
                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[2].imgUrl}" 
                                                th:alt="${item.itemNm}" id="product-detail">
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                  <div class="carousel-item">
                                    <div class="row">
                                          <div class="col-4">
                                    	<input type="hidden" id="itemId" th:value="${item.id}">
                                            <a href="#">
                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[3].imgUrl}" 
                                                th:alt="${item.itemNm}" id="product-detail">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                    	<input type="hidden" id="itemId" th:value="${item.id}">
                                            <a href="#">
                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[4].imgUrl}" 
                                                th:alt="${item.itemNm}" id="product-detail">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                    	<input type="hidden" id="itemId" th:value="${item.id}">
                                            <a href="#">
                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[5].imgUrl}" 
                                                th:alt="${item.itemNm}" id="product-detail">
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <img src="/images/right.png">
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card" style="margin-top:7%">
                        <div class="card-body">
                        	<span th:text="${item.itemSellStatus}" class="badge badge-primary mgb-15"></span> 
                        	<span th:text="${item.itemType}" class="badge badge-primary mgb-15"></span> 
                            
                            <p class="h3 py-2" style="font-weight: 900;"  th:text="${item.itemNm}"></p>
                            <p class="py-2">
                                <span class="list-inline-item text-dark">평점:</span>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </p>
                        

                            <p>
                            	<span th:text="|주소:&nbsp|+${item.address}"></span>
                            </p>
                           &nbsp;
                            <h5>소개글:</h5>
                            <p style="max- width:376px;">
                            	<span th:text="${item.itemDetail}"></span>
                            </p>
                            <input type="hidden" class="form-control text-center" id="count" value="1">
                            
                      		<button type="button" class="btn btn-success btn-lg" onclick="cart()"
				             style="width:25%; margin-left:75%;">장바구니 담기</button>

                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            				
            				<div class="md-12">
					        	<div class="rooms-page-item">
					                <div class="row">
					                    <div class="col-lg-4">
					                        <div>
					                            <div class="single-room-pic">
					                                <input type="hidden" id="itemId" th:value="${item.id}">
		                                            <a href="#">
		                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[2].imgUrl}" 
		                                                th:alt="${item.itemNm}" id="product-detail" style="margin:5%; width:376p;">
		                                            </a>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-8">
					                        <div class="room-text" style="margin-left:10%; border-bottom: 1px solid rgba(0,0,0,0.08);">
					                            <div class="room-title">
					                                <h3><strong>디럭스 싱글</strong></h3>
					                                <br>
					                                <div class="room-price" style="display:flex;">
					                                    <h4 style="margin-right:75%;"><strong>가격</strong></h4>
					                                    <input type="hidden" th:value="${item.price}"  id="price" name="price">
														<h4><strong class="text-primary h4" th:text="|${#numbers.formatInteger(item.price, 0, 'COMMA')}원|"></strong></h4>
												    </div>
					                            </div>
					                        </div>
					                        		<br>					                        		
					                             <div class="row pb-3">
				                                  <!--   <div class="col d-grid">
				
				                                        <button type="button" class="btn btn-success btn-lg" name="submit" value="addtocard">장바구니 담기</button>     
				                                    </div> -->
				                                    <input type="hidden" class="form-control text-center" id="count" value="1">
				                                    	
				                                        <button type="button" class="btn btn-success btn-lg" onclick="order()"
				                                        style="width:25%; margin-left:65%;">예약하기</button>
				                                    
				
				                                    
				                                    <p th:unless="${#strings.equals(item.itemSellStatus, 'SELL')}">
														해당 상품은 현재 품절입니다.
													</p>
                                				</div> 
					                    </div>
					                </div>
					            </div>
					            
					            <div class="rooms-page-item">
					                <div class="row">
					                    <div class="col-lg-4">
					                        <div>
					                            <div class="single-room-pic">
					                                <input type="hidden" id="itemId" th:value="${item.id}">
		                                            <a href="#">
		                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[3].imgUrl}" 
		                                                th:alt="${item.itemNm}" id="product-detail" style="margin:5%; width:376p;">
		                                            </a>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-8">
					                        <div class="room-text" style="margin-left:10%; border-bottom: 1px solid rgba(0,0,0,0.08);">
					                            <div class="room-title">
					                                <h3><strong>디럭스 트윈</strong></h3>
					                                <br>
					                                <div class="room-price" style="display:flex;">
					                                    <h4 style="margin-right:75%;"><strong>가격</strong></h4>
					                                    <input type="hidden" th:value="${item.price}"  id="price" name="price">
														<h4><strong class="text-primary h4" th:text="|${#numbers.formatInteger(item.price*1.25, 0, 'COMMA')}원|"></strong></h4>
												    </div>
					                            </div>
					                        </div>
					                        		<br>
					                        		<br>
					                             <div class="row pb-3">
				                                  <!--   <div class="col d-grid">
				
				                                        <button type="button" class="btn btn-success btn-lg" name="submit" value="addtocard">장바구니 담기</button>     
				                                    </div> -->
				                                    <input type="hidden" class="form-control text-center" id="count" value="1">
				                                        <button type="button" class="btn btn-success btn-lg" onclick="order()"
				                                        style="width:25%; margin-left:65%;">예약하기</button>
				                                    
				
				                                    
				                                    <p th:unless="${#strings.equals(item.itemSellStatus, 'SELL')}">
														해당 상품은 현재 품절입니다.
													</p>
                                				</div> 
					                    </div>
					                </div>
					            </div>
					            
					            <div class="rooms-page-item">
					                <div class="row">
					                    <div class="col-lg-4">
					                        <div>
					                            <div class="single-room-pic">
					                                <input type="hidden" id="itemId" th:value="${item.id}">
		                                            <a href="#">
		                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[4].imgUrl}" 
		                                                th:alt="${item.itemNm}" id="product-detail" style="margin:5%; width:376p;">
		                                            </a>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-8">
					                        <div class="room-text" style="margin-left:10%; border-bottom: 1px solid rgba(0,0,0,0.08);">
					                            <div class="room-title">
					                                <h3><strong>슈페리얼 싱글</strong></h3>
					                                <br>
					                                <div class="room-price" style="display:flex;">
					                                    <h4 style="margin-right:75%;"><strong>가격</strong></h4>
					                                    <input type="hidden" th:value="${item.price}"  id="price" name="price">
														<h4><strong class="text-primary h4" th:text="|${#numbers.formatInteger(item.price*1.5, 0, 'COMMA')}원|"></strong></h4>
												    </div>
					                            </div>
					                        </div>
					                        		<br>
					                        		<br>
					                             <div class="row pb-3">
				                                  <!--   <div class="col d-grid">
				
				                                        <button type="button" class="btn btn-success btn-lg" name="submit" value="addtocard">장바구니 담기</button>     
				                                    </div> -->
				                                    <input type="hidden" class="form-control text-center" id="count" value="1">
				                                        <button type="button" class="btn btn-success btn-lg" onclick="order()"
				                                        style="width:25%; margin-left:65%;">예약하기</button>
				                                    
				
				                                    
				                                    <p th:unless="${#strings.equals(item.itemSellStatus, 'SELL')}">
														해당 상품은 현재 품절입니다.
													</p>
                                				</div> 
					                    </div>
					                </div>
					            </div>
					            
					            <div class="rooms-page-item">
					                <div class="row">
					                    <div class="col-lg-4">
					                        <div>
					                            <div class="single-room-pic">
					                                <input type="hidden" id="itemId" th:value="${item.id}">
		                                            <a href="#">
		                                                <img class="card-img img-fluid" th:src="${item.itemImgDtoList[5].imgUrl}" 
		                                                th:alt="${item.itemNm}" id="product-detail" style="margin:5%; width:376p;">
		                                            </a>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-8">
					                        <div class="room-text" style="margin-left:10%; border-bottom: 1px solid rgba(0,0,0,0.08);">
					                            <div class="room-title">
					                                <h3><strong>슈페리얼 트윈</strong></h3>
					                                <br>
					                                <div class="room-price" style="display:flex;">
					                                    <h4 style="margin-right:75%;"><strong>가격</strong></h4>
					                                    <input type="hidden" th:value="${item.price}"  id="price" name="price">
														<h4><strong class="text-primary h4" th:text="|${#numbers.formatInteger(item.price*1.75, 0, 'COMMA')}원|"></strong></h4>
												    </div>
					                            </div>
					                        </div>
					                        		<br>
					                        		<br>
					                             <div class="row pb-3">
				                                  <!--   <div class="col d-grid">
				
				                                        <button type="button" class="btn btn-success btn-lg" name="submit" value="addtocard">장바구니 담기</button>     
				                                    </div> -->
				                                    <input type="hidden" class="form-control text-center" id="count" value="1">
				                                        <button type="button" class="btn btn-success btn-lg" onclick="order()"
				                                        style="width:25%; margin-left:65%;">예약하기</button>
				                                    
				
				                                    
				                                    <p th:unless="${#strings.equals(item.itemSellStatus, 'SELL')}">
														해당 상품은 현재 품절입니다.
													</p>
                                				</div> 
					                    </div>
					                </div>
					            </div>
            				
            				</div>
			        
    </section>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
    $('#carousel-related-product').slick({
        infinite: true,
        arrows: false,
        slidesToShow: 4,
        slidesToScroll: 3,
        dots: true,
        responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            }
        ]
    });
	
/* 	$(document).ready(function() {
		//처음 상세페이지 화면에 들어올때 총 상품금액이 보여야 하므로
		calculateTotalPrice(); 
		
		//수량 -, + 버튼을 누를때마다 총가격을 구한다
		$(".count_btn").click(function() {
			calculateTotalPrice();
		})
	});
	
	function calculateTotalPrice() {
		var count = $("#count").val(); //수량
		var price = $("#price").val(); //가격
		var totalPrice = (price * count).toLocaleString('ko-KR'); //천단위 콤마
		$("#totalPrice").html(totalPrice + '원'); //총가격 출력
	} */
	
	function order() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		var url = "/order";
		
		//controller(서버)에 전달할 데이터
		var paramData = {
				itemId : $("#itemId").val(), //item의 id
				count: $("#count").val() //수량
		}
		
		
		
		
		
		//★전달하기 전에 데이터를 반드시 JSON -> 문자열로 만들어야 한다.
		var param = JSON.stringify(paramData);
		
		$.ajax({
			url : url, //request URL
			type : "POST", //전송방식
			contentType : "application/json",
			data : param, //서버에 전송할 데이터
			beforeSend : function(xhr) {
				//데이터를 전송하기전에 헤더에 csrf 값을 설정
				xhr.setRequestHeader(header, token);
			},
			dataType : "json",
			cache : false,
			success : function(result, status) {
				alert("주문이 완료 되었습니다." + result);
				//location.href = '/';
			},
			error : function(jqXHR, status, error) {
				if (jqXHR.status == '401') {
					alert('로그인 후 이용해주세요.');
					location.href = '/members/login';
				} else {
					//에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다)
					alert(jqXHR.responseText); 
				}
			}
		});
		
	}
	
	function cart() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		var url = "/cart";
		
		//controller(서버)에 전달할 데이터
		var paramData = {
				itemId : $("#itemId").val(), //item의 id
				count: $("#count").val() //수량
		}
		
		
		
		
		
		//★전달하기 전에 데이터를 반드시 JSON -> 문자열로 만들어야 한다.
		var param = JSON.stringify(paramData);
		
		$.ajax({
			url : url, //request URL
			type : "POST", //전송방식
			contentType : "application/json",
			data : param, //서버에 전송할 데이터
			beforeSend : function(xhr) {
				//데이터를 전송하기전에 헤더에 csrf 값을 설정
				xhr.setRequestHeader(header, token);
			},
			dataType : "json",
			cache : false,
			success : function(result, status) {
				alert("장바구니 등록이 완료되었습니다.");
				//location.href = '/';
			},
			error : function(jqXHR, status, error) {
				if (jqXHR.status == '401') {
					alert('로그인 후 이용해주세요.');
					location.href = '/members/login';
				} else {
					//에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다)
					alert(jqXHR.responseText); 
				}
			}
		});
		
	}	
	</script>
</th:block>
</html>