<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<th:block layout:fragment="css">
<link rel="stylesheet" type="text/css" th:href="@{/css/searchbar.css}">
<style>
.banner{
	width:962px;
	height:320px;
	margin: 64px auto 78px auto;
	display: block;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    background-image:url('images/b1.png'); 	
}

.box_right {
    width: 48%;
    float: right;
    margin-left: 30px;
}
.client_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0px 1px 16px -6px;
    margin-top: 50px;
}
.client_section {
    width: 100%;
    float: left;
    padding-bottom: 0px;
}
.name{
	position: absolute;
    bottom: 20px;
    left: 24px;
}
.score{
	height: auto;
    margin-top: 7px;
    line-height: normal;
    color: rgb(255,167,38);
    text-align:left;
}

.price{
	position: absolute;
    bottom: 20px;
    left: 24px;
    color:#FFFFFF;
    font-size:24px;
    text-align:right;
    margin-left: 80%;
}
.client_main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

}
</style>
</th:block>

		
	<div layout:fragment="content">
   <div class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital"></h1>
<!--          <p class="services_text">There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration</p> -->
         <div class="services_section_2">
            <div class="row">
<!--                <div class="col-md-4">
                  <div><img src="images/m1.png" class="services_img" style="width:350px; height:220px;"></div>
                  <div class="btn_main"><a href="/item/shop">모텔</a></div>
               </div>
               <div class="col-md-4">
                  <div><img src="images/h1.png" class="services_img" style="width:350px; height:220px;"></div>
                  <div class="btn_main active"><a href="/item/shop">호텔</a></div>
               </div>
               <div class="col-md-4">
                  <div><img src="images/p1.png" class="services_img" style="width:350px; height:220px;"></div>
                  <div class="btn_main"><a href="/item/shop">펜션</a></div>
               </div> -->
                       <div class="client_main">
                     	<a href="/item/shop">
                 		<img src="images/airbnb1.jpg" class="services_img " style="width:max; height:550px; border-radius: 0.75rem;">
                     	</a>
                     </div>
               
            </div>
         </div>
      </div>
   </div>
   <!-- services section end -->
  

   <!-- client section start -->
   <!-- <th:block th:each="item, status: ${items.getContent()}"> -->
   <div class="client_section layout_padding">
      <div class="container">
         <h1 class="client_taital">추천목록</h1>
         <div class="client_section_2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="client_main">
                     	<a href="/item/603">
                 		<img src="images/hotel1.jpg" class="services_img" style="width:max; height:400px;">
                     	</a>
                 		<div class="name" style="color:#FFFFFF; font-size:30px; text-align:left;">
                 			<strong>신라스테이 삼성</strong>
                 			<p class="score">
                 				<em>평점:5.0</em>
                 				&nbsp;
                 				<i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                 			</p>
                 			<p style="font-size:20px; font-weight: 500;">강남구 | 삼성역 도보 2분</p>
                 		</div>
                 		<div class="price">
                 			<strong>가격:130,000원</strong>
                 		</div>
                     </div>
                  </div>
                  
                  <div class="carousel-item">
                     <div class="client_main">
                     	<a href="/item/652">
     					<img src="images/hotel2.jpg" class="services_img" style="width:max; height:400px;">
     					</a>
     						<div class="name" style="color:#FFFFFF; font-size:30px; text-align:left;">
                 			<strong>보코서울강남, IHG 호텔</strong>
                 			<p class="score">
                 				<em>평점:5.0</em>
                 				&nbsp;
                 				<i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                 			</p>
                 			<p style="font-size:20px; font-weight: 500;">강남구 | 신사역 도보 5분</p>
                 		</div>
                 		<div class="price">
                 			<strong>가격:306,900원</strong>
                 		</div>
                     </div>
                  </div>
                  
                  <div class="carousel-item">
                     <div class="client_main">
                     	<a href="/item/653">
               			<img src="images/hotel3.jpg" class="services_img" style="width:max; height:400px;">
               			</a>
               			    <div class="name" style="color:#FFFFFF; font-size:30px; text-align:left;">
                 			<strong>조선 팰리스 서울 강남 럭셔리 컬렉션</strong>
                 			<p class="score">
                 				<em>평점:5.0</em>
                 				&nbsp;
                 				<i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                 			</p>
                 			<p style="font-size:20px; font-weight: 500;">강남구 | 역삼역 8번 출구 도보 5분</p>
                 		</div>
                 		<div class="price">
                 			<strong>가격:594,000원</strong>
                 		</div>
                     </div>
                  </div>
                  
                   <div class="carousel-item">
                     <div class="client_main">
                     	<a href="/item/654">
               			<img src="images/hotel4.jpg" class="services_img" style="width:max; height:400px;">
               			</a>
               			    <div class="name" style="color:#FFFFFF; font-size:30px; text-align:left;">
                 			<strong>파크 하얏트 서울</strong>
                 			<p class="score">
                 				<em>평점:5.0</em>
                 				&nbsp;
                 				<i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                 			</p>
                 			<p style="font-size:20px; font-weight: 500;">강남구 | 삼성역 부근</p>
                 		</div>
                 		<div class="price">
                 			<strong>가격:514,800원</strong>
                 		</div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
    </th:block>
   <!-- client section start -->
   <!-- choose section start -->
   <div class="choose_section layout_padding">
      <div class="container">
         <h1 class="choose_taital"></h1>
      	<div class="banner">
      		<p style= "margin-top:10%; font-size:28px; font-weight:700;">
      		앱 다운 받고 더 많은 혜택받으세요.     		
      		</p>
      		
      		<div style="margin-top:30px;">
      			<img src="images/google.png" style="width:168px; height:auto; margin-right:20px">
      			<img src="images/apple.png" style="width:168px; height:auto;">
      		</div>
      	</div>
         <div class="read_bt_1"><a href="#">Read More</a>
         
         </div>

      </div>
   </div>		
	</div>
</html>

